* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAEDED;
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0;
  width: 100%;
  max-width: 1300px;
}

main article {
  background: #FFF;
  margin: 0;
  padding: 2px;
  height: 1200px;
}

/** --------------------
    NAV AND NAV-LINKS
  -------------------- **/
.menu {
  background: #232F3E;
  padding:  0;
}

.menu .container-menu-buttons {
  /* display: flex; */
  display: none;
  justify-content: space-between;
}

.menu .container-menu-buttons button {
  font-size: 20px;
  color: #FFF;
  padding: 10px 20px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  background: none;
}

.menu .container-menu-buttons button:hover {
  border: 1px solid rgba(255,255,255, .4);
}

.menu .container-menu-buttons .btn-menu-close {
  display: none;
}

.menu .container-menu-buttons .btn-menu-close.active {
  display: inline-block;
}

.menu .container-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .btn-departments {
  color: #FFF;
  padding: 7px;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  border: 1px solid transparent;
  font-size: 12px;
  cursor: default;
}

.menu .btn-departments i {
  margin-left: 20px;
  position: relative;
  bottom: 3px;
}

.menu .btn-departments:hover {
  border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departments span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.menu .container-nav-links .links a {
  color: #CCC;
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
}

.menu .container-nav-links .links a:hover {
  border: 1px solid rgba(255,255,255, .4);
}

/** --------------------
    GRID
-------------------- **/
.container-grid {
  position: relative;
}

.grid {
  width: 100%;
  position: absolute;
  top: 5px;
  z-index: 1000;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "categories subcategories subcategories subcategories";
}

.grid.active {
  display: grid;
}

.grid::before {
  content: "";
  display: block;
  background: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFF;
  position: absolute;
  top: -5px;
  left: 65px;
}

.grid > div {
  background: #FFF;
  box-shadow: 0px 3px 6px rgba(0,0,0, .1);
}

/** --------------------
    CATEGORIES
-------------------- **/

.grid .btn-back {
  background: #232F3E;
  color: #FFF;
  border: none;
  padding: 10px;
  border-radius: 3px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.grid .btn-back i {
  margin-right: 10px;
}

.grid .categories {
  grid-area: categories;
  padding-top: 10px;
  min-height: 300px;
  overflow: auto;
}

.grid .categories .subtitle {
  display: none;
}

.grid .categories a {
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.grid .categories a i {
  display: none;
}

.grid .categories a:hover {
  color: #E47911;
  font-weight: bold;
}

.grid .categories a:hover i {
  display: inline-block;
}

/** --------------------
    SUBCATEGORIES
-------------------- **/

.grid .container-subcategories {
  grid-area: subcategories;
}

.grid .subcategory {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.grid .subcategory.active {
  display: grid;
}

.grid .subcategory img {
  width: 100%;
  vertical-align: top;
  height: 100%;
  object-fit: cover;
}

.grid .subcategory-links {
  padding-top: 10px;
  height: 100%;
  max-height: 300px;
  overflow: auto;
}

.grid .subcategory-links a {
  color: #000;
  display: block;
  font-size: 14px;
  padding: 10px 20px;
}

.grid .subcategory-links a:hover {
  color: #E47911;
}

.grid .subtitle {
  font-size: 18px;
  font-weight: normal;
  color: #E47911;
  padding: 10px 20px;
}

.grid .subcategory-banner a {
  display: block;
  height: 100%;
}

.grid .subcategory-gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.grid .subcategory-gallery a {
  width: 50%;
  height: 50%;
}
/* styling bod's div that is sliding horizontally */



 /* Custom Styles */
    .carousel-control-prev, .carousel-control-next {
      width: 5%;
      color: #fff;
    }

    /* Optional: Custom styling for caret icons */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #007bff;
    }

    /* Optional: Change the color of caret icons on hover */
    .carousel-control-prev:hover, .carousel-control-next:hover {
      color: #0056b3;
    }

    /* Custom styles for larger screens (e.g., screens wider than 768px) */
    @media (min-width: 768px) {
      .carousel-inner .col-md-4 {
        width: 33.33333333%;
        display: inline-block;
      }
    }
    /*end */
    .card-img{
      max-width:100%;
     height: 300px;
     margin: 0;
     padding: 0;
    }