    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navbar {
    /* Dark blue-gray */
      overflow: hidden;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: black;
    }

    .navbar a, .navbar input, .navbar select {
      text-decoration: none;
      padding: 5px 5px;
      box-sizing: border-box;
      transition: color 0.3s ease-in-out;
    }

    .navbar a:hover {
      color: #3498db; /* Blue */
    }

    .navbar input[type=text], .navbar select {
      border: none;
      font-size: 14px;
      margin: 0 8px;
      padding: 10px;
  /* Darker blue-gray */

      border-radius: 5px;
    }

    .navbar .right {
      display: flex;
      justify-content: flex-end;
    }

    .navbar a.sign-up, .navbar a.sign-in {
      background-color: #3498db; /* Blue */
      color: #ecf0f1;
      border-radius: 5px;
      margin-left: 10px;
    }

      .navbar #logo {
        width: 300px;
        text-align: left;
      }

      .navbar .right {
        justify-content: flex-start;
      }
    